<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Email {{ id }}</title>
        <link rel="stylesheet" href="/static/css/style.css">
    </head>
    <body>
    <h2>Email Contents:</h2>
    <a href="/static/pdf/{{ id }}.pdf">PDF link</a>
    <p><b>Subject:</b> {{ subject }}</p>
    <p><b>Date:</b> {{ date }}</p>
    <p><b>From:</b> {{ from }}</p>
    <p><b>To:</b> {{ to }}</p>
    <p><b>Body:</b></p>
    <p>{{ body }}</p>

    <h2>Explore more emails:</h2>
    <h3>Most similar documents:</h3>
    <ul style="list-style-type:disc">
    {% for doc in close %}
        <li><a href="/email/{{ doc.docID }}">{{ doc.docID }}</a> - {{ doc.distance }}</li>
    {% endfor %}
    </ul>
    <h3>Most different documents:</h3>
    <ul style="list-style-type:disc">
    {% for doc in far %}
        <li><a href="/email/{{ doc.docID }}">{{ doc.docID }}</a> - {{ doc.distance }}</li>
    {% endfor %}
    </ul>
    </body>
</html>
